*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100vw;
  background-color: blue;
}

nav {
  display: flex;
  width: max(500px);
  height: fit-content;
  justify-content: space-evenly;
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid beige;
}

a {
  text-decoration: none;
  color: beige;
}

.one {
  width: 100vw;
  height: 60vh;
  background-color: blue;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15vw), 0 100%);
  color: beige;
}

.container1 {
  display: flex;
  width: 90%;
  height: auto;
  /* border: 1px solid black; */
  margin: 0 auto;
  margin-bottom: 3em;
  position: absolute;
  top: 100px;
  left: 30px;
}

.img_container {
  display: flex;
  width: 500px;
  height: 500px;
  background-image: url(./image/image600.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: end;
  /* border: 1px solid grey; */
  box-shadow: 5px 5px 5px grey;
  color: beige;
}

.image1 {
  font-size: 4rm;
}

.text_container {
  height: fit-content;
  width: calc(100% - 500px);
  align-self: center;
  /* border: 1px solid grey; */
  box-shadow: 10px 5px 5px grey;
}

.text_container h1,
p {
  background-color: white;
  padding-left: 1em;
}

p {
  font-size: 20px;
  line-height: 30px;
  word-spacing: 5px;
}

.title{
  padding: 0.3em;
}
