*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: top;
  width: 100vw;
  background-color: blue;
}

nav {
  display: flex;
  width: max(500px);
  height: fit-content;
  justify-content: space-evenly;
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid beige;
}

a {
  text-decoration: none;
  color: beige;
}

.one {
  width: 100vw;
  height: 60vh;
  background-color: blue;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15vw), 0 100%);
  color: beige;
}

.container1 {
  width: 90%;
  height: auto;
  display: grid;
  border: 1px solid;
  margin: 0 auto;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
}
