*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: white;
  filter: brightness(70%);
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: fit-content;
  background-color: blue;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  background-color: blue;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  width: max(500px);
  height: fit-content;
  justify-content: space-evenly;
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid beige;
}

a {
  text-decoration: none;
  color: beige;
}

.about {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 4em;
  background-image: linear-gradient(
    -190deg,
    Blue,
    Blue 60%,
    white 60.3%,
    white 100%
  );
}

.hero_container {
  max-width: 1600px;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.hero_img_wrapper {
  width: fit-content;
  height: auto;
  /* position: relative; */
}

picture {
  position: relative;
}

.hero_img {
  box-shadow: 5px 5px 5px grey;
}

.hero_name h1 {
  color: beige;
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 2rem;
}

.text_container {
  height: auto;
  max-width: 800px;
  align-self: center;
  margin-left: 6px;
  box-shadow: 5px 5px 5px grey;
}

.title {
  background-color: white;
  padding: 1em;
  padding-bottom: 0.3em;
}

.aboutme_text {
  max-width: 950px;
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
}

p {
  font-size: 1rem;
  line-height: 30px;
  word-spacing: 5px;
}

.icons_container {
  display: flex;
  justify-content: right;
  gap: 1.5em;
  padding-top: 1em;
  padding-right: 1em;
}

.icon {
  width: 30px;
  height: 30px;
}

.projects {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin-top: 2em;
  padding: 2em;
}

.project_container {
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  row-gap: 2em;
  column-gap: 1.75em;
  margin: 0 auto;
}

.project {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
  border: 1px solid grey;
  box-shadow: 5px 5px 5px grey;
}

.title2 {
  grid-column: 1 / span 3;
}

.pro_des {
  padding: 1em;
  padding-bottom: 0;
}
.title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
}

.conctacts {
  max-width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: blue;
  margin-top: 3.5em;
  padding: 2em;
}

.contacts_container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: space-evenly;
  color: beige;
}

.contact_data {
  background-color: blue;
}

.last_img {
  padding: 1.5em;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  color: beige;
  background-color: blue;
}

.credits h1 {
  padding-left: 2em;
}

.credits_text {
  background-color: blue;
  padding-left: 2em;
}

@media (max-width: 1025px) {
  header {
    position: sticky;
    z-index: 1;
  }
  .hero_container {
    max-width: 1600px;
    height: auto;
    padding-top: 2em;
    display: block;
  }

  .hero_img_wrapper {
    float: left;
    margin-right: 1.5em;
  }

  .hero_name h1 {
    color: beige;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 1rem;
  }

  .project_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .title2 {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 550px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .hero_container {
    max-width: 1600px;
    height: auto;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero_img_wrapper {
    /* float: left; */
    margin-right: 1.5em;
  }

  .project_container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .title2 {
    grid-column: 1;
  }

  .conctacts {
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
